<div *ngIf="person" class="form-inline">
  
  <div class="form-group">
    <label>Name:
      <input class="form-control" [(ngModel)] = person.name placeholder="Name" type="text">
    </label>
  </div>
  <div class="form-group">
    <label>Number:
      <input class="form-control" [(ngModel)] = person.number placeholder="Number" type="text">
    </label>
  </div>
  <div class="form-group">
      <label>EMail:
        <input class="form-control" [(ngModel)] = person.email placeholder="EMail" type="text">
      </label>
    </div>
  <div>
    <a href="javascript:void(0)" (click)=goBack()>Back</a>
  </div>
</div>